<div layout layout-fill layout-align="center center">

    <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center" layout-padding
                   flex flex-sm="80" flex-gt-sm="50">

        <form name="form" ng-submit="vm.login(vm.email)" flex layout="column" layout-padding>
            <md-input-container md-no-float class="md-block">
                <label>Your e-mail address</label>
                <md-icon md-font-set="material-icons">email</md-icon>
                <input ng-model="vm.email" type="email" required>
            </md-input-container>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid">Login</md-button>
        </form>

    </md-whiteframe>

</div>