<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <span>Add a new item</span>
    </div>
</md-toolbar>

<form name="form" layout-padding layout="column">
    <div layout-padding>
        <md-input-container class="md-block">
            <label>Input value</label>
            <input ng-model="vm.value" name="input" type="text"
                   md-maxlength="255" minlength="0" autocomplete="off" autofocus>
            <div class="hint">An empty value is a valid value.</div>
            <div ng-messages="form.input.$error" ng-show="form.input.$dirty">
                <div ng-message="required">C'mon. Write something.</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-align="end center">
        <md-button type="button"
                   ng-click="vm.goBack()">Go back to report</md-button>
        <md-button type="submit" class="md-primary md-raised"
                   ng-click="vm.save(vm.value)" ng-disabled="form.$invalid">Save</md-button>
    </div>
</form>