<md-toolbar>
    <div class="md-toolbar-tools" layout-align="start center">
        <span>Report</span>
        <span class="md-body-1 rows-count">{{vm.rows.length}} items</span>
    </div>
</md-toolbar>

<md-content flex layout="column">

    <md-table-container flex hide-xs ng-show="vm.hasItems()">
        <table md-table>
            <thead md-head md-order="vm.currentSort">
            <tr md-row>
                <th md-column md-order-by="hash"><span>Hash</span></th>
                <th md-column md-order-by="input"><span>Input</span></th>
                <th md-column md-order-by="userEmail"><span>E-mail</span></th>
                <th md-column>Creation</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="row in vm.rows | orderBy: vm.currentSort">
                <td md-cell>{{row.hash}}</td>
                <td md-cell>{{row.input || '-no input-'}}</td>
                <td md-cell>{{row.userEmail}}</td>
                <td md-cell>{{row.creationDate | date}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-list flex hide-gt-xs>
        <md-list-item class="md-3-line" ng-repeat="row in vm.rows | orderBy: vm.currentSort">
            <div class="md-list-item-text" layout="row">
                <div layout="column" flex>
                    <h3>{{row.hash}}</h3>
                    <h4>{{row.input || '-no input-'}}</h4>
                    <p>{{row.userEmail}}</p>
                </div>
                <div layout="column" layout-align="start center">
                    <md-icon md-font-set="material-icons">date_range</md-icon>
                    <span class="md-caption">{{row.creationDate | date:'dd/MMM'}}</span>
                    <span class="md-caption">{{row.creationDate | date:'yyyy'}}</span>
                </div>
            </div>
        </md-list-item>
    </md-list>

    <div layout="column" flex layout-align="center center" ng-hide="vm.hasItems()">
        <span>There're no items yet.</span>
        <md-button class="md-primary md-raised" ng-click="vm.requestAddItem()">
            <md-icon md-font-set="material-icons">add</md-icon>
            <span>Click here to add the first one</span>
        </md-button>
    </div>

</md-content>

<md-button class="md-fab add-log-item" aria-label="Add item" ng-click="vm.requestAddItem()" ng-show="vm.hasItems()">
    <md-tooltip md-direction="left">Add a new item</md-tooltip>
    <md-icon md-font-set="material-icons">add</md-icon>
</md-button>