<md-toolbar class="md-hue-2">

    <div class="md-toolbar-tools">
        <span>10cloud test</span>

        <!-- fill up the space between left and right area -->
        <span flex></span>

        <span ng-show="vm.session.isLogged()" hide-xs class="md-body-1">{{vm.session.getEmail()}}</span>
        <md-button ng-show="vm.session.isLogged()" ng-click="vm.logout()">
            <span>Logout</span>
            <md-icon md-font-set="material-icons">exit_to_app</md-icon>
        </md-button>
    </div>

</md-toolbar>