body {
  position: relative;

  button {
    &.add-log-item {
      position: absolute;
      right: 16px;
      top: 78px;
      @media (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
        top: 60px;
      }
      @media screen and (min-width: 787px) {
        top: 60px;
      }
      @media screen and (min-width: 960px) {
        top: 92px;
      }
    }
  }

  .hint {
    font-size: 12px;
    line-height: 14px;
    color: grey;
    position: absolute;
    bottom: 12px;
  }

  md-toolbar {
    .rows-count {
      margin-left: 15px;
      &:before {
        content: '('
      }
      &:after {
        content: ')'
      }
    }
  }

}
